@charset "UTF-8";
body {
    background: linear-gradient(to right bottom, hwb(240 6% 75%),hsl(225, 88%, 77%));
    .header {
            img {
                position: relative;
                display: flex;
                height:100%;
                width:100%;
                padding:0px;
                overflow: hidden;
                }
            h1 {
                position: absolute;
                top:15%;
                left:25%;
                font-size:50px;
                color: floralwhite;
                font-family: "游明朝","Yu Mincho"; font-weight: lighter;
                animation: fade 2.0s ease-in-out .1s 1 normal forwards;
                }
            h2 {
                position: absolute;
                top:5%;
                left:25%;
                font-size:35px;
                font-family: "游明朝","Yu Mincho"; font-weight: lighter;
                color: floralwhite;
                animation: fade 2.0s ease-in-out .1s 1 normal forwards;
                }
            }
}
li{
    list-style:none;
    float:left;
    img{
        height:50%;
        width:100%;
        padding:0px;
        overflow: hidden;
        display: flex;
    }
}
p1 {
    font-size:60px;
    font-family: "游明朝","Yu Mincho"; font-weight: lighter;
    color: floralwhite;
}
p2 {
    position: relative;
    font-size:60px;
    left:25%;
    background-color:antiquewhite;
}
@keyframes fade {
    0% { opacity: 0; transform: translateY(100px);}
    100% { opacity: 1; transform: translateY(0px);}
}
